@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=La+Belle+Aurore&family=Rubik&display=swap');

body {
    background-color: floralwhite;
    font-family: 'Calistoga', cursive;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding: 50px 0;
}

#carouselExampleCaptions {
    max-width: 700px;
    margin: 0 auto;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
    background-color: black;
}

.text-truncate-container p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-link-container {
    text-decoration: none;
    color: black;
}

.details-img {
    width: 100%;
    max-width: 400px;
}

.basket h3 {
    font-weight: 600;
}

.basket h3 span {
    font-weight: 400;
}

.basket h5 {
    color: gray;
}

.footer-16371 {
    padding: 7rem 0;
    font-family: "Poppins", sans-serif;
}
.footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
.footer-16371 .footer-site-logo a {
    font-family: 'Calistoga', cursive;
    color: black; }
.footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
.footer-16371 .nav-links li {
    display: inline-block; }
.footer-16371 .nav-links li a {
    padding: 10px;
    color: #000; }
.footer-16371 .nav-links li a:hover {
    color: #4200ff; }
.footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }
.footer-16371 .copyright {
    color: #999999; }
